<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1" />
</head>
<body>


    <header>
        <h1>  Miefbeau festivals</h1>
    </header>

    <nav class="homepage">
        <a href="/">Homepage</a>
        <a href="/Festivals">Festivals</a>
        <a href="/Tickets">Tickets</a>
        <a href="/festivalregels">festivalregels</a>
        <a href="/Locaties">Locaties</a>
        <a href="/Login">Login</a>
        <a href="/Contact">Contact</a>
    </nav>
    @RenderBody()
</body>

<body>



    <footer>

        <div class="footerbottom"></div>
                <p>
                    Madelief en Isabeau<br>
                   <a href="Festibeau@gmail.com">Festibeau@gmail.com</a>
                </p>
            </>

</body>
</footer>

</html>
