<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css?v=1" />
</head>
<body>


    <header>
        <h1>  Miefbeau festivals</h1>
    </header>

    <nav class="homepage">
        <a href="/">Homepage</a>
        <a href="/Festivals">Festivals</a>
        <a href="/Prijzen">Tickets</a>
        <a href="/festivalregels">festivalregels</a>
        <a href="/Locaties">Locaties</a>
        <a href="/Login">Login</a>
        <a href="/Contact">Contact</a>
    </nav>
    @RenderBody()
</body>

<body>


 
    <footer>

    <div class="footerbottom">
        
        <p>Madelief en Isabeau &copy; 2021</p>
    </div>

    </body>
</footer>

</html>
