@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<div id="contact">
 
   <form>
            <p> Naam: </p>
            <p><input type="text" name="name" value="Uw naam"></p>
            <p> E-mail: </p>
            <p><input type="text" name="E-mail" value="Uw e-mail"></p>
            <p> Telefoon: </p>
            <p><input type="text" name="telefoon nummer" value="Uw telefoon nummer"></p>

            <p><input type="submit"></p>
     </form>
    
</div>


