@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>
    <h2>Madelief van der Bles</h2>
    Weet veel over de data
</p>

<p>
    <h3>Isabeau Rikkoert</h3>
    Weet veel over de ticketverkoop
</p>

<div id="contact">
    <h2>
        Contact
    </h2>
    <footer>
        <form>
            voornaam: <input type="text" name="voornaam" />
            achternaam: <input type="text" name="achternaam" />
            <input type="submit" value="versturen" />
            </form>
        <p> Hallo @ViewData["voornaam"] die achternaam @ViewData["achternaam"] heeft </p>
    </footer>
</div>            <p><input type="submit"></p>
        </form>
    </footer>
</div>        </form>
    </footer>
</div>