@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>



</head>
<body>
    <h1>Locatie festivalterrein!</h1>
    <p>Locatie PinkPop </p>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38968.22500183377!2d5.1755236785171!3d52.379230754404624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c617214e3877bb%3A0x87c269c763922b3e!2sVeursestraatweg%2C%20Almere!5e0!3m2!1snl!2snl!4v1602852614954!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>
    <p> Locatie MysteryLand</p>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.3897604557214!2d5.958022715680474!3d52.218136266308576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c7c7824a28ee2b%3A0x9deaf6c23fd94769!2sKerklaan%2C%20Apeldoorn!5e0!3m2!1sen!2snl!4v1623406925481!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

    </div>
    <p> Locatie LowLands</p>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d77837.47985696282!2d5.620627174936988!3d52.435283569632176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c62cc98c771947%3A0xfe5d67503366ecc7!2sBiddinghuizen!5e0!3m2!1sen!2snl!4v1623407008295!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <p> Locatie HockeyLoverz</p>
    <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2451.6797542608947!2d4.3174980156759695!3d52.08555937608624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b773bfffffff%3A0xf92d3ec4faba62ba!2sMalieveld!5e0!3m2!1sen!2snl!4v1623407044723!5m2!1sen!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>



</body>
</html>