@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>
<div id="Formulier">

    <h1>Log hier in op je Festibeau account: </h1>
    <form>
        <div id="gebruikersnaam"><p>Gebruikersnaam:</p><input type="text" name="username" /></div><br />
        <div id="wachtwoord"><p>Wachtwoord:</p><input type="text" name="password" /></div><br />
        <div id="versturen"><input type="submit" value="Versturen" /></div><br />
    </form>
</div>