<p> dank voor inloggen </p>

<p>
    <div class="gif">
        <img src="https://www.speakgif.com/wp-content/uploads/2015/10/zac-efron-thank-you-animated-gif.gif" alt="De bronafbeelding bekijken"/> 
</div>