<p> Bedankt voor het achterlaten van je gegevens voor ons! </p>

<p>
    <div class="gif">
        <img src="https://media3.giphy.com/media/KJ1f5iTl4Oo7u/giphy-downsized-large.gif" alt="De bronafbeelding bekijken"/> 
</div>